## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
#Please uncomment and execute the code below if you are working locally.

!pip install ipython-sql

Requirement already satisfied: ipython-sql in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.3.9)
Requirement already satisfied: prettytable in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython>=1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (7.33.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.9.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.38)
Requirement already satisfied: pygments in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: backcall in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: importlib-metadata in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from prettytable->ipython-sql) (4.11.4)
Requirement already satisfied: wcwidth in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: zipp>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-metadata->prettytable->ipython-sql) (3.15.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-metadata->prettytable->ipython-sql) (4.5.0)

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas==1.1.5

In [6]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [7]:
import pandas as pd
df = pd.read_csv("Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

**Note:This below code is added to remove blank rows from table**

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
# Execute SQL query to select unique launch sites
unique_launch_sites = %sql SELECT DISTINCT(Launch_Site) FROM SPACEXTABLE;

# Convert the result to a Pandas DataFrame for easier manipulation
unique_launch_sites_df = unique_launch_sites.DataFrame()

# Display the unique launch sites
unique_launch_sites

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [12]:
# Execute SQL query to select 5 records where launch sites begin with 'CCA'
cca_launch_sites = %sql SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5;

# Check if the query result is not empty
if cca_launch_sites:
    # Iterate over the selected records and print them individually
    for record in cca_launch_sites:
        print(record)
else:
    print("No records found.")

 * sqlite:///my_data1.db
Done.
('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [13]:
# Execute SQL query to calculate the total payload mass carried by boosters launched by NASA (CRS)
total_payload_mass = %sql SELECT SUM(PAYLOAD_MASS__KG_) AS Total_Payload_Mass FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)';

# Check if the query result is not empty
if total_payload_mass:
    # Extract the total payload mass from the result
    total_payload_mass_value = total_payload_mass[0]['Total_Payload_Mass']
    
    # Display the total payload mass
    print("Total payload mass carried by boosters launched by NASA (CRS):", total_payload_mass_value, "kg")
else:
    print("No data found for NASA (CRS) missions.")

 * sqlite:///my_data1.db
Done.
Total payload mass carried by boosters launched by NASA (CRS): 45596 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [14]:
# Execute SQL query to calculate the average payload mass carried by booster version F9 v1.1
average_payload_mass = %sql SELECT AVG(PAYLOAD_MASS__KG_) AS Average_Payload_Mass FROM SPACEXTABLE WHERE Booster_Version = 'F9 v1.1';

# Check if the query result is not empty
if average_payload_mass:
    # Extract the average payload mass from the result
    average_payload_mass_value = average_payload_mass[0]['Average_Payload_Mass']
    
    # Display the average payload mass
    print("Average payload mass carried by booster version F9 v1.1:", average_payload_mass_value, "kg")
else:
    print("No data found for booster version F9 v1.1.")

 * sqlite:///my_data1.db
Done.
Average payload mass carried by booster version F9 v1.1: 2928.4 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [15]:
# Execute SQL query to find the date of the first successful landing outcome on a ground pad
first_successful_landing_date = %sql SELECT MIN(Date) AS First_Successful_Landing_Date FROM SPACEXTABLE WHERE Landing_Outcome = 'Success' AND Landing_Pad_Type = 'Ground pad';

# Check if the query result is not empty
if first_successful_landing_date:
    # Extract the first successful landing date from the result
    first_successful_landing_date_value = first_successful_landing_date[0]['First_Successful_Landing_Date']
    
    # Display the first successful landing date
    print("Date of the first successful landing outcome on a ground pad:", first_successful_landing_date_value)
else:
    print("No data found for the specified criteria.")

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: Landing_Pad_Type
[SQL: SELECT MIN(Date) AS First_Successful_Landing_Date FROM SPACEXTABLE WHERE Landing_Outcome = 'Success' AND Landing_Pad_Type = 'Ground pad';]
(Background on this error at: http://sqlalche.me/e/e3q8)
No data found for the specified criteria.

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [16]:
# Execute SQL query to find the names of boosters with success in drone ship landings and payload mass within the specified range
boosters_with_success_in_drone_ship = %sql SELECT Booster_Version FROM SPACEXTABLE WHERE Landing_Outcome = 'Success' AND Landing_Pad_Type = 'Drone Ship' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;

# Check if the query result is not empty
if boosters_with_success_in_drone_ship:
    # Extract the names of boosters from the result
    boosters_list = [record['Booster_Version'] for record in boosters_with_success_in_drone_ship]
    
    # Display the names of boosters
    print("Names of boosters with success in drone ship landings and payload mass greater than 4000 but less than 6000:")
    for booster in boosters_list:
        print(booster)
else:
    print("No boosters found for the specified criteria.")

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: Landing_Pad_Type
[SQL: SELECT Booster_Version FROM SPACEXTABLE WHERE Landing_Outcome = 'Success' AND Landing_Pad_Type = 'Drone Ship' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;]
(Background on this error at: http://sqlalche.me/e/e3q8)
No boosters found for the specified criteria.

### Task 7




##### List the total number of successful and failure mission outcomes

In [17]:
# Execute SQL query to count the number of successful and failure mission outcomes
mission_outcomes_count = %sql SELECT Mission_Outcome, COUNT(*) AS Total_Count FROM SPACEXTABLE GROUP BY Mission_Outcome;

# Check if the query result is not empty
if mission_outcomes_count:
    # Display the total number of successful and failure mission outcomes
    print("Total number of mission outcomes:")
    for record in mission_outcomes_count:
        print(record['Mission_Outcome'], ":", record['Total_Count'])
else:
    print("No mission outcomes found.")

 * sqlite:///my_data1.db
Done.
Total number of mission outcomes:
Failure (in flight) : 1
Success : 98
Success  : 1
Success (payload status unclear) : 1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [18]:
# Execute SQL query to find the names of booster versions with the maximum payload mass
booster_versions_max_payload = %sql SELECT Booster_Version FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE);

# Check if the query result is not empty
if booster_versions_max_payload:
    # Extract the names of booster versions from the result
    booster_versions_list = [record['Booster_Version'] for record in booster_versions_max_payload]
    
    # Display the names of booster versions
    print("Names of booster versions with the maximum payload mass:")
    for booster_version in booster_versions_list:
        print(booster_version)
else:
    print("No booster versions found.")

 * sqlite:///my_data1.db
Done.
Names of booster versions with the maximum payload mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [20]:
# Execute SQL query to select records with month names, failure landing outcomes in drone ship, booster versions, and launch sites for the year 2015
records_2015 = %sql SELECT \
                        CASE \
                            WHEN substr(Date, 6, 2) = '01' THEN 'January' \
                            WHEN substr(Date, 6, 2) = '02' THEN 'February' \
                            WHEN substr(Date, 6, 2) = '03' THEN 'March' \
                            WHEN substr(Date, 6, 2) = '04' THEN 'April' \
                            WHEN substr(Date, 6, 2) = '05' THEN 'May' \
                            WHEN substr(Date, 6, 2) = '06' THEN 'June' \
                            WHEN substr(Date, 6, 2) = '07' THEN 'July' \
                            WHEN substr(Date, 6, 2) = '08' THEN 'August' \
                            WHEN substr(Date, 6, 2) = '09' THEN 'September' \
                            WHEN substr(Date, 6, 2) = '10' THEN 'October' \
                            WHEN substr(Date, 6, 2) = '11' THEN 'November' \
                            WHEN substr(Date, 6, 2) = '12' THEN 'December' \
                        END AS Month_Name, \
                        Landing_Outcome, \
                        Booster_Version, \
                        Launch_Site \
                    FROM \
                        SPACEXTABLE \
                    WHERE \
                        substr(Date, 0, 5) = '2015' \
                        AND Landing_Outcome = 'Failure' \
                        AND Landing_Pad_Type = 'Drone Ship';

# Check if the query result is not empty
if records_2015:
    # Display the records
    for record in records_2015:
        print(record)
else:
    print("No records found for the specified criteria.")

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: Landing_Pad_Type
[SQL: SELECT                          CASE                              WHEN substr(Date, 6, 2) = '01' THEN 'January'                              WHEN substr(Date, 6, 2) = '02' THEN 'February'                              WHEN substr(Date, 6, 2) = '03' THEN 'March'                              WHEN substr(Date, 6, 2) = '04' THEN 'April'                              WHEN substr(Date, 6, 2) = '05' THEN 'May'                              WHEN substr(Date, 6, 2) = '06' THEN 'June'                              WHEN substr(Date, 6, 2) = '07' THEN 'July'                              WHEN substr(Date, 6, 2) = '08' THEN 'August'                              WHEN substr(Date, 6, 2) = '09' THEN 'September'                              WHEN substr(Date, 6, 2) = '10' THEN 'October'                              WHEN substr(Date, 6, 2) = '11' THEN 'November'                              WHEN substr(Date, 6, 2) = '12' THEN 'December'                          END AS Month_Name,                          Landing_Outcome,                          Booster_Version,                          Launch_Site                      FROM                          SPACEXTABLE                      WHERE                          substr(Date, 0, 5) = '2015'                          AND Landing_Outcome = 'Failure'                          AND Landing_Pad_Type = 'Drone Ship';]
(Background on this error at: http://sqlalche.me/e/e3q8)
No records found for the specified criteria.

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [21]:
# Execute SQL query to rank the count of landing outcomes between the specified date range
landing_outcomes_ranked = %sql SELECT \
                                    Landing_Outcome, \
                                    COUNT(*) AS Count \
                                FROM \
                                    SPACEXTABLE \
                                WHERE \
                                    Date BETWEEN '2010-06-04' AND '2017-03-20' \
                                GROUP BY \
                                    Landing_Outcome \
                                ORDER BY \
                                    Count DESC;

# Check if the query result is not empty
if landing_outcomes_ranked:
    # Display the ranked landing outcomes
    for rank, record in enumerate(landing_outcomes_ranked, start=1):
        print("Rank", rank, ":", record['Landing_Outcome'], "-", record['Count'])
else:
    print("No landing outcomes found for the specified date range.")

 * sqlite:///my_data1.db
Done.
Rank 1 : No attempt - 10
Rank 2 : Success (drone ship) - 5
Rank 3 : Failure (drone ship) - 5
Rank 4 : Success (ground pad) - 3
Rank 5 : Controlled (ocean) - 3
Rank 6 : Uncontrolled (ocean) - 2
Rank 7 : Failure (parachute) - 2
Rank 8 : Precluded (drone ship) - 1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>